body{
    display: inline;
}

/*Universal selector*/
*{
    border: 3px solid white;
}

/*Element selectors with diff. color types*/
h1{
    color: rgb(60, 179, 113);
    text-decoration: none;
    position: static; 

}

h3{
    color: MediumSeaGreen;
    display: none;
}

h2{
    color: #3cb371;
    color: color-mix(in srgb MediumSeaGreen 75% white 25%);
    text-align: center;
}

.agenda{
    display: flex;
    align-content: space-between;
}

/*id selector with color types and fallback color*/
#wrap-up-last-meeting-and-discussion-topics-for-todays-meeting{
    color: hsl(248, 53%, 58%);
    color: color(display-p3 0.235 0.702 0.443);
    margin: 10px 15px 20px 25px;
}
/*class selctor with diff. units, sizes, short padding, auto margin, background color*/
.meeting.review{
    width: 10vw;
    height: 20vh;
    padding: 5px 10px 15px 20px;
    border: 4px solid darkblue;
    background-color: white;
    margin: auto;

    display: flex;
    justify-content: center;

}
/*id selector with margin long, padding long, and border types*/
#comments-and-questions{
    min-width: 2in;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1em;
    

    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 25px;


    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    
}

/*attribute selector*/
a[href*="photography"] {
    font-size: 10pt;
}

/*Pseudo-classes and selectors*/
.btn{
    max-width: 100px;
    position: fixed;
}

.btn:hover{
    background-color: white;
}
.btn:active{
    color: black;
}

/*Selector list*/
#meeting-video,
#meeting-audio{
    font-size: 10pt;

}

/*grid layout attributes*/
.restaurant1{
    display: grid;
    grid-auto-rows: 100px;
}

.restaurant2{
    display: grid;
    grid-template-columns: 100px;
    
}

.restaurant3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

/*Descendent Combinator*/
nav li{
    background-color: white;
}

/*Child Combinator*/
ul > li {
    background-color: white;
}

/*General sibling combinator*/
section ~ li {
    background-color: white;
}

/*Adjacent sibling combinator*/
h2 + p{
    background-color: white;
}

/*Combining two selectors*/
fieldset.restaurant1 {
    background-color: white;
}

/*New Selectors*/
h2:has(+ p) {
    background-color: white;
}

.meeting.review .last-meeting {
    background-color: white;
}


@media (min-width: 680px) {
    body{
        display: inline;
    }
    
    /*id selector with color types and fallback color*/
    #wrap-up-last-meeting-and-discussion-topics-for-todays-meeting{
        color: hsl(248, 53%, 58%);
        color: color(display-p3 0.235 0.702 0.443);
        margin: 10px 15px 20px 25px;
    }
    /*class selctor with diff. units, sizes, short padding, auto margin, background color*/
    .meeting.review{
        width: 10vw;
        height: 20vh;
        padding: 5px 10px 15px 20px;
        border: 4px solid darkblue;
        background-color: white;
        margin: auto;
    
        display: flex;
        justify-content: center;
    
    }
    /*id selector with margin long, padding long, and border types*/
    #comments-and-questions{
        min-width: 2in;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 1em;
        
    
        margin-top: 10px;
        margin-right: 15px;
        margin-bottom: 20px;
        margin-left: 25px;
    
    
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 20px;
    
        display: flex;
        flex-direction: column;
        
    }
}

/*Leftover tasks: Responsiveness, Fonts (General)*/
